<% @article.comments.each do |comment| %>
  <p>
    <strong>@:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>C!:</strong>
    <%= comment.body %>
  </p>

  <%=
    button_to 'delete', [comment.article, comment],
              class: "btn btn-outline-danger", type: "button", method: :delete,
              data: {
                confirm: "Confirm the operation", title: "Delete comment from " + comment.commenter + "?",
                commit: "Delete"
              }
  %>
<% end %>
