<section>
  <p>
    <h2> <%=	 @article.title %> </h2>
  </p>
</section>

<section>
  <h5>
      <%=	 @article.text %>
  </h5>
</section>

<h2>Comments</h2>

<%=	 render 'comments/comments' %>

<h2>Add a comment:</h2>
<%=	 render 'comments/form' %>
