<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome in my Blogque</h1>
    <p class="lead">KENNESAW — Web design skills have become an important component for business. The growing demand for
      web design professionals is reflected in the Bureau of Labor Statistics projection of a 20 percent job increase
      through 2020 for web development.

      Recognizing these skills are vital to the Georgia workforce, KSU’s College of Continuing and Professional
      Education is revamping its Web Design and Development program to accommodate learners’ needs with focused modules
      on Graphic Web Design, Front-end Development and Back-end development.

      Rebecca Mattox, program manager, said these programs give CCPE students an understanding of how to design and
      implement user-focused, growth-driven sites. Consequently, they can take their knowledge to fill the gap in the
      workforce.

      “Web design and development skills are more desirable today than ever before. Our college is constantly evolving
      to lead in innovation and respond to the needs of our community and workforce,” Mattox said. “The programs were
      previously offered as one course, but offering three separate courses benefits both designers and developers.
      These certificates give students the opportunity to learn the fundamental design principles, tools and practices
      needed to successfully design and build any website.”

      Rob Smith, Graphic Web Design instructor and creative director for CCPE brings 20 years of design experience to
      the classroom. Having also earned a Web Design and Development professional certificate, Smith said he understands
      the transition from designing for print to the screen.

      “Primarily, this is a design course covering design applications in Adobe Photoshop and Adobe Illustrator. Both
      designers and developers alike will gain valuable skills from this course,” he said. “Students new to design or
      developers looking to broaden their aesthetic design skills can expect to get a solid grounding in practical
      aesthetic design theory. Students who are looking to break into the world of web design will build a solid
      foundational knowledge of HTML and CSS programming that will give them the necessary skills to propel them into
      front-end development.”

      Students in the course will also be introduced to the key concepts of user interface and user experience. The
      course will be taught with a quick pace, hands-on approach meant to introduce key concepts and build them into
      practical skills.

      Smith said, “Usability is a deciding factor in whether or not an audience remembers a product, event, space,
      website or design of any kind. It is a driving factor in not only market decisions, but in the human experience as
      a whole. The key to success in design is understanding how design affects usability.”

      “An organization’s website is a user’s first impression with your brand. A well-built website will not only lead
      to a better experience for the consumer but also increase traffic and conversations,” Mattox added.

      The Graphic Web Design Certificate begins Aug. 15. Front-end and back-end development program dates will be
      announced at a later date. For more information on this program or other technology offerings, call 470-578-6765,
      visit ccpe.kennesaw.edu, or email ccpe@kennesaw.edu.</p>
    <div class="d-flex justify-content-center">
      <%=	 link_to 'Bloqe', controller: 'articles'%>
    </div>
  </div>
</div>

