<%= link_to 'Bloqe', articles_path, class: "navbar-brand" %>
<ul class="navbar-nav mr-auto mt-2 mt-lg-0">

  <% if request.path  %> <!-- == categories_path -->
    <li class="nav-item">
      <%=	 link_to 'Category', '#', class: "nav-link" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Category', '#', class: "nav-link active" %>
    </li>
  <% end %>
</ul>